.App {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 55% 45%;
  font-family: brownie;
}

.band-logo {
  height: 80vmin;
  pointer-events: none;
}

@font-face {
  font-family: brownie;
  src: url(./brown.otf);
}

/* @media (prefers-reduced-motion: no-preference) {
  .band-logo {
    animation: band-logo-spin infinite 20s linear;
  }
} */

.logo {
  background-color: rgb(4,8,9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
}

.info {
  display: grid;
  grid-template-rows: 50% 50%;
  height: 100vh;
}

/* blue: rgb(17,132, 172); */

.bio {
  background-color: rgb(41,44,53);
  color: rgb(219, 207, 175);
  font-size: 30px;
  line-height: 1.2;
  padding: 5%;
}

.band-name {
  color: rgb(17,132, 172);
  font-size: 34px;
}

.links {
  background-color: rgb(34,37,43);
  font-size: 25px;
  display: grid;
  padding: 20% 10%;
  grid-template-columns: 1fr 1fr 1fr;
}

.links > a {
  width: 40%;
  text-align: center;
  padding: 10%;
}

.links > a > img {
  width: 100%;
}

.App-link {
  color: #61dafb;
}
/* 
@keyframes band-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

